[submodule "components/homekit/json_parser/upstream"]
	path = components/homekit/json_parser/upstream
	url = https://github.com/espressif/json_parser.git
[submodule "components/homekit/json_generator/upstream"]
	path = components/homekit/json_generator/upstream
	url = https://github.com/espressif/json_generator.git
